
utils/__pycache__/

venv/

.idea/
l_matrix.txt
PyBoolNet-2.2.8_linux64.tar.gz
PyBoolNet-2.2.8_manual.pdf
buffer.txt
networks.txt
networks_final.txt
utils/kmaps/__pycache__/
/records.txt
/codes.txt
base/__pycache__/
stp/__pycache__/
/results.txt
examples/test.py
graphs/__pycache__/
logic/__pycache__/
