
utils/__pycache__/

venv/

.idea/
.vscode/
l_matrix.txt
PyBoolNet-2.2.8_linux64.tar.gz
PyBoolNet-2.2.6_linux64.tar.gz
PyBoolNet-2.2.8_manual.pdf
buffer.txt
networks.txt
networks_final.txt
src/utils/kmaps/__pycache__/
/records.txt
/codes.txt
src/base/__pycache__/
src/stp/__pycache__/
/results.txt
src/examples/test.py
src/graphs/__pycache__/
src/logic/__pycache__/
src/examples/inference_example.py
.env
resultados_extraidos/
